-i https://pypi.org/simple

streamlit==1.38.0; python_version >= '3.8' and python_full_version != '3.9.7'
streamlit-camera-input-live==0.2.0; python_version >= '3.7'
streamlit-card==1.0.2; python_version >= '3.8'
streamlit-embedcode==0.1.2; python_version >= '3.6'
streamlit-extras==0.4.7; python_version not in '2.7, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7' and python_version >= '3.8'
streamlit-faker==0.0.3; python_version >= '3.6'
streamlit-feedback==0.1.3; python_version >= '3.7'
streamlit-image-coordinates==0.1.9; python_version >= '3.7'
streamlit-keyup==0.2.4; python_version >= '3.7'
streamlit-toggle-switch==1.0.2; python_version >= '3.6'
streamlit-vertical-slider==2.5.5; python_version >= '3.8'
google-api-core[grpc]==2.20.0; python_version >= '3.7'
google-api-python-client==2.146.0; python_version >= '3.7'
google-auth==2.35.0; python_version >= '3.7'
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1; python_version >= '3.6'
google-cloud-bigquery==3.25.0; python_version >= '3.7'
google-cloud-core==2.4.1; python_version >= '3.7'
google-cloud-secret-manager==2.20.2; python_version >= '3.7'
google-cloud-storage==2.18.2; python_version >= '3.7'
google-crc32c==1.6.0; python_version >= '3.9'
google-resumable-media==2.7.2; python_version >= '3.7'
googleapis-common-protos[grpc]==1.65.0; python_version >= '3.7'
pandas==2.2.3; python_version >= '3.9'
pandas-gbq==0.23.1; python_version >= '3.8'
sentence-transformers==3.1.1; python_version >= '3.8'
openai==1.47.0; python_full_version >= '3.7.1'
elasticsearch==8.15.1; python_version >= '3.8'